.navbar {
    background-color: var(--color-dark-gray);
    box-shadow: var(--shadow-medium);

    margin: 0;
    padding: 0 20px;
    height: 80px;
    width: 90vw;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}